<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="item">
    <ion-card-header>
      <ion-card-title>{{item.asunto}}</ion-card-title>
      <ion-card-subtitle>{{item.created_at}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{item.mensaje}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
