<!--
info.page.html
-->
<ion-header>
  <app-header title="Info" menuButton="true"></app-header>
</ion-header>


<ion-split-pane contentId="info-content">
  <ion-menu menuId="first" contentId="info-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Opciones</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/tabs/info/tab1" (click)="closeMenu()">Botones</ion-item>
        <ion-item routerLink="/tabs/info/tab2" (click)="closeMenu()">Listas</ion-item>
        <ion-item routerLink="/tabs/info/tab3" (click)="closeMenu()">Otros controles</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="info-content"></ion-router-outlet>
</ion-split-pane>





