<ion-header>
  <app-header title="New"></app-header>
</ion-header>

<ion-content>
  <form (ngSubmit)="enviaForm()" [formGroup]="mensaje">
    <ion-item>
      <ion-label position="floating">Asunto</ion-label>
      <ion-input name="asunto" formControlName="asunto"></ion-input>
    </ion-item>
    <ion-item *ngIf="mensaje.controls.asunto.invalid && mensaje.controls.asunto.touched">
      <ion-label class="ion-text-wrap" color="danger">Hay que añadir un asunto con un tamaño mínimo de 10 caracteres</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Mensaje</ion-label>
      <ion-textarea
        formControlName="mensaje"
        name="mensaje"
        rows="3" autoGrow maxlength="400"
      ></ion-textarea>
    </ion-item>
    <ion-item *ngIf="mensaje.controls.mensaje.invalid && mensaje.controls.mensaje.touched">
      <ion-label class="ion-text-wrap" color="danger">Hay que añadir un mensaje con un tamaño mínimo de 10 caracteres</ion-label>
    </ion-item>
    <ion-radio-group
      formControlName="user_id"
    >
      <ion-item lines="none">
        <ion-label>Jorge</ion-label>
        <ion-radio value="13" slot="start"></ion-radio>
      </ion-item>
      <ion-item lines="none">
        <ion-label>David</ion-label>
        <ion-radio value="14" slot="start"></ion-radio>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Cristina</ion-label>
        <ion-radio value="15" slot="start"></ion-radio>
      </ion-item>

    </ion-radio-group>
    <ion-button
      [disabled]="!mensaje.valid"
      [color]="primary ? 'primary' : 'secondary'"
      class="ion-margin" type="submit"
      expand="block">Enviar</ion-button>
  </form>

  <ion-item lines="full">
    <ion-label>Color</ion-label>
    <ion-checkbox name="primary" [(ngModel)]="primary" slot="end"></ion-checkbox>
  </ion-item>


  <ion-button
    (click)="showListado()"
    class="ion-margin"
    expand="block">Usuario</ion-button>


</ion-content>
