<ion-tabs>

  <ion-tab-bar slot="bottom" color="danger" mode="ios">
    <ion-tab-button tab="home" layout="label-hide" >
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="new" layout="label-hide">
      <ion-icon name="add-circle-sharp"></ion-icon>
      <ion-label>New</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="info" layout="label-hide">
      <ion-icon name="information-circle-sharp"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
