

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title>
      Listas
    </ion-title>
  </ion-toolbar>

  <ion-list inset="true" lines="full">
    <ion-list-header lines="full" >
      <ion-label>Listas</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Simple</ion-label>
    </ion-item>
    <ion-item button>
      <ion-label>Botón</ion-label>
    </ion-item>
    <ion-item button>
      <ion-label>
        <ion-text>Mi texto</ion-text>
        <p class="ion-text-wrap">lkwj eflejr fwlkerjflk rejgf lkwerjgñlkrejtlñrwejtñlkrjeñtkljweñ tjrewlk tgjwerñltj ñlkerwjtlkwñ</p>
      </ion-label>
    </ion-item>
    <ion-item button>
      <ion-label>
        <ion-text>Mi texto</ion-text>
        <p>lkwj eflejr fwlkerjflk rejgf lkwerjgñlkrejtlñrwejtñlkrjeñtkljweñ tjrewlk tgjwerñltj ñlkerwjtlkwñ</p>
      </ion-label>
    </ion-item>
    <ion-item button>
      <ion-thumbnail slot="start">
        <img src="../../assets/avatares/avatar13.png" />
      </ion-thumbnail>
      <ion-label>Thumbnail</ion-label>
    </ion-item>
    <ion-item button>
      <ion-avatar slot="start">
        <img src="../../assets/avatares/avatar13.png" />
      </ion-avatar>
      <ion-label>
        <ion-text>Avatar</ion-text>
        <p>lkwj eflejr fwlkerjflk rejgf lkwerjgñlkrejtlñrwejtñlkrjeñtkljweñ tjrewlk tgjwerñltj ñlkerwjtlkwñ</p>
      </ion-label>
      <ion-badge slot="end">34</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
