
<ion-content [fullscreen]="false">


  <ion-button color="primary">Normal 1</ion-button>
  <ion-button color="primary">Normal 2</ion-button>
  <ion-button color="secondary" expand="block">Block</ion-button>
  <ion-button color="tertiary" expand="full">Full</ion-button>

  <ion-button fill="clear">Clear</ion-button>
  <ion-button fill="outline">Outline</ion-button>
  <ion-button fill="solid">Solid</ion-button>

  <div></div>
  <ion-button size="small">Small</ion-button>
  <ion-button size="default">Default</ion-button>
  <ion-button size="large">Large</ion-button>

  <ion-button><ion-icon name="accessibility-sharp"></ion-icon>Icono y texto</ion-button>
  <ion-button><ion-icon slot="end" name="accessibility-sharp"></ion-icon>slot</ion-button>
  <div></div>
  <ion-button><ion-icon name="accessibility-sharp"></ion-icon></ion-button>
  <ion-button><ion-icon slot="icon-only" name="accessibility-sharp"></ion-icon></ion-button>

</ion-content>


