

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>

  <ion-button class="ion-margin" expand="block" (click)="creaAlert()">
    Abre alerta
  </ion-button>

  <ion-segment (ionChange)="selectColor($event)">
    <ion-segment-button value="blanco">Blanco</ion-segment-button>
    <ion-segment-button value="negro">Negro</ion-segment-button>
  </ion-segment>
</ion-content>
