<ion-header>
  <app-header title="Home"></app-header>
</ion-header>

<ion-content fullscreen="false" class="ion-padding ion-text-justify" #pageContent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-searchbar
        *ngIf="filter"
        (ionChange)="filterItems($event)">
      </ion-searchbar>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-item lines="none">
        <ion-label slot="start" >Filter</ion-label>
        <ion-toggle slot="end" [(ngModel)]="filter"
                    (ionChange)="filterItems(null)"
        ></ion-toggle>
      </ion-item>
    </ion-buttons>
  </ion-toolbar>

  <ion-list>
    <ion-item-sliding *ngFor="let item of filteredData">

      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="deleteMessage(item.id)">Borrar</ion-item-option>
      </ion-item-options>

      <ion-item
        button
        detail
        detail-icon="caret-forward-circle-sharp"
        (click)="goDetail(item)"
      >
        <ion-avatar slot="start">
          <img [src]="'../../assets/avatares/avatar' + item.user_id + '.png'" />
        </ion-avatar>
        <ion-label>{{item.asunto}}</ion-label>
        <ion-note slot="end" color="tertiary">{{item.name}}</ion-note>
      </ion-item>
    </ion-item-sliding>

  </ion-list>

  <ion-infinite-scroll
    threshold="100px"
    (ionInfinite)="loadMoreData()"
  >
    <ion-infinite-scroll-content
      loading-text="Cargando más datos..."
      loadingSpinner="bubbles"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
